<table style= "width:100%" border = "1" cellpadding = "5" cellspacing = "5" bgcolor="gray">
	<tr style="background-color:yellowgreen;color:white;">
		<td>Name</td>
		<td>Department</td>
		<td>Fees</td>
	</tr>
	<tr>
		<td><%= @doctor.name%></td>
		<td><%= @doctor.department%></td>		
		<td><%= @doctor.fees%></td>		
	</tr>
</table>
<%#= link_to "Create another", new_doctor_path %>
<%#= link_to "Home", patients_path %>
